﻿@model Image

@{
    ViewData["Title"] = "FileUpload";
}

<br />
<br />

<h4>Upload your file here</h4>
<div>
    @if (ViewBag.Exception != null)
    {
        <div class="text-danger">@ViewBag.Exception</div>


    }
    else
    {
        <div class="text-success">@ViewBag.Mess</div>
    }
</div>

<hr />

<div>
    <form asp-action="FileUpload" method="post" enctype="multipart/form-data">
        <div class="form-group custom-file">

            <input type="file" class="custom-file-input" asp-for="Photos" />
            <label class="control-label custom-file-label text-info"></label><br />
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" value="Upload Data" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

